*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template: 
    'header' 65px
    'main' 1fr/
     1fr ;
    height: 100vh;
    width: 100vw;
}
.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 240px 2fr minmax(180px,1fr) ;
}

.main {
    grid-area: main;
    overflow: scroll;
    display: grid;
    grid-template-columns: 250px 1fr 200px 50px;
}

.header1 {
    display: grid;
    grid-template-columns: auto 1fr ;
    grid-gap: 10px;
    align-items: center;
}

.header1 img {
    height: 40px;
}
.header1 span {
    margin-left: 40px;
}

.header2 {
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: whitesmoke;
    align-items: center;
}
.header2 input {
    border: none;
    width: 100%;
    font-size: medium;
    background-color: whitesmoke;
    outline: none;
}

.header3 {
    padding-left: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: end;
    font-size: medium;
    grid-gap: 5px;
}

.header3 img {
    border-radius: 100%;
    height: 40px;
    border: solid 5px whitesmoke;
    margin: 10px;
}

.compose button {
    display: flex;
    margin-left: 10px;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
    }

.menu-option {
    display: grid;
    padding-left: 10px;
    grid-gap: 5px;
    grid-template-columns: 60px 1fr;
    place-items: start;
}
.chat img {
    width: 30px;
    border-radius: 100%;
}

.chat {
    margin-top: 100px;
}

#footer {
    text-align: center;
    margin-top: 100px;
}

.email-item {
    padding: 10px; 
    display: grid;
    grid-template-columns: 20px 2fr 3fr 100px ;
    border: solid 1px black;
}
.emails {
    padding: 10px;
    display: grid;
    grid-gap: 5px;
    grid-auto-rows: 40px;
    overflow: scroll;
}

.settings {
    padding: 10px;  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 150px, 1fr));
    grid-auto-rows: 150px;
    grid-gap: 10px;
    justify-content: center;
}

.settings-item{
    border: solid 1px black;
}
.shortcuts{
    display: grid;
    grid-auto-rows: 30px;
    place-items: center;
}
.shortcuts img {
    height: 30px;
}

  @media screen and (max-width: 850px) {
      .settings {
          display: none;
      }
      .main {
        grid-template-columns: 250px 1fr  50px;
      }
      
  }
  @media screen and (max-width: 850px) {
    .settings {
        display: none;
    }
    .main {
      grid-template-columns: 250px 1fr  50px;
    }
    

    @media screen and (max-width: 700px) {
        .menu-option h3,
        .compose button b,
        .meet,
        .chat {
            display: none;
        }
        .compose button{
            padding: 0;
        }
        .main {
            grid-template-columns: 50px 1fr 50px;
        }
      }

      @media screen and (max-width: 600px) {
        .shortcuts {
            display: none;
        }
        .main {
            grid-template-columns: 50px 1fr ;
        }
      }
}