*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container,
.main{
    border: solid 1px black;
}

.container {
    display: grid;
    grid-template: 
    'header' 65px
    'main' 1fr/
     1fr ;
    height: 100vh;
    width: 100vw;
}
.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 240px 2fr minmax(180px,1fr) ;
}

.main {
    grid-area: main;
    background-color: red;
}

.header1 {
    display: grid;
    grid-template-columns: auto 1fr ;
    grid-gap: 10px;
    align-items: center;
}

.header1 img {
    height: 40px;
}
.header1 span {
    margin-left: 40px;
}

.header2 {
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: whitesmoke;
    align-items: center;
}
.header2 input {
    border: none;
    width: 100%;
    font-size: medium;
    background-color: whitesmoke;
    outline: none;
}

.header3 {
    padding-left: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: end;
    font-size: medium;
    grid-gap: 5px;
}

.header3 img {
    border-radius: 100%;
    height: 40px;
    border: solid 5px whitesmoke;
    margin: 10px;
}



